/*@font-face {*/
/*	font-family: 'Montserrat';*/
/*	src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');*/
/*	font-weight: 600; !* Используйте соответствующее значение для полужирного стиля *!*/
/*	font-style: normal;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

html {
	box-sizing: border-box;
	font-family: 'Montserrat', 'Roboto', sans-serif !important;
	font-size: 18px;
	-webkit-tap-highlight-color: transparent;
}
